body {
    font-family: Arial, sans-serif; /* Устанавливаем шрифт для всей страницы */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    display: flex; /* Включаем flex-контейнер для выравнивания элементов */
    justify-content: center; /* Выравниваем содержимое по центру по горизонтали */
    align-items: center; /* Выравниваем содержимое по центру по вертикали */
    height: 100vh; /* Высота body равна 100% высоты окна браузера */
    background: url('https://raw.githubusercontent.com/DarkSin363/Geo_Quiz/main/images/IMG_3759.jpeg'); /* Фоновое изображение */
    background-size: cover; /* Растягиваем изображение на весь экран */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Запрещаем повторение изображения */
}

.container {
    height: 80px; /* Фиксированная высота контейнера */
    width: 200px; /* Фиксированная ширина контейнера */
    text-align: center; /* Выравниваем текст по центру */
    background-color: rgba(210, 180, 140, 0.8); /* Светло-коричневый цвет фона с прозрачностью 80% */
    padding: 20px; /* Внутренние отступы */
    border-radius: 10px; /* Скругление углов на 10 пикселей */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень контейнера */
    margin-top: 150px; /* Внешний отступ сверху */
}

.loading-gif {
    width: 100px; /* Ширина GIF */
    height: 100px; /* Высота GIF */
    margin-bottom: 30px; /* Отступ снизу для GIF */
}

.progress-bar {
    width: 100%; /* Ширина прогресс-бара на 100% от родительского элемента */
    background-color: #e0e0e0; /* Светло-серый цвет фона */
    border-radius: 5px; /* Скругление углов на 5 пикселей */
    overflow: hidden; /* Скрывает содержимое, выходящее за границы */
    margin: 20px 0; /* Отступы сверху и снизу по 20px, слева и справа — 0 */
}

.progress {
    width: 0; /* Начальная ширина прогресса (0%) */
    height: 10px; /* Высота прогресса */
    background-color: #007bff; /* Синий цвет прогресса */
    transition: width 0.2s ease-in-out; /* Плавное изменение ширины за 0.3 секунды */
}

#status {
    color: #666; /* Серый цвет текста */
    font-size: 14px; /* Размер шрифта */
}
