body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://raw.githubusercontent.com/DarkSin363/Geo_Quiz/main/images/IMG_3759.jpeg'); /* Укажите URL вашего изображения */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    height: 150px;
    width: 200px; /* Фиксированная ширина */
    text-align: center;
    background-color: rgba(210, 180, 140, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
}

.loading-gif {
    width: 100px; /* Настройте размер GIF */
    height: 100px;
    margin-bottom: 30px; /* Отступ от прогресс-бара */
}

.progress-bar {
    width: 100%; /* Ширина прогресс-бара на 100% от родительского элемента */
    background-color: #e0e0e0; /* Светло-серый цвет фона */
    border-radius: 5px; /* Скругление углов на 5 пикселей */
    overflow: hidden; /* Скрывает содержимое, выходящее за границы */
    margin: 20px 0; /* Отступы сверху и снизу по 20px, слева и справа — 0 */
}

.progress {
    width: 0;
    height: 10px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

#status {
    color: #666;
    font-size: 14px;
}
